
 <!--   


 
 <form method="post" asp-action="AddResult" asp-controller="Crs_result" >


     <label asp-for="Course_id"></label><br>
     <select asp-for="Course_id" asp-items="Courses"></select><br>


     <label asp-for="Degree"></label><br>
     <input asp-for="Degree" /><br>

     <button type="submit" class="btn btn-outline-primary">Add</button><br>
 </form>

 -->