@model List<Trainee>
@{
    Layout = "_TraineeLay";
}

   
        @foreach (var t in Model)
        {
              <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
                
                <div class="member-info text-center">
                      <h4> Name : @t.Name</h4>
                      <span>Address : @t.Address</span>
                </div>

                <div class="member-info text-center">
                     <span><a href="/TraineeD/@t.Id" class="btn btn-secondary">Details</a></span>
                </div>

                <div class="member-info text-center">
                         <span><a href="/TraineeU/@t.Id" class="btn btn-secondary">Update</a></span>
               </div>

                <div class="member-info text-center">
                     <span><a href="/Trainee/Delete/@t.Id" class="btn btn-secondary">Delete</a></span>
                </div>
               </div>
        }


@section Addition{
    <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="/Instructor/HomePage">Home</a></li>
            <li class="current"><a href="/TraineeA">Enroll Now</a></li>
          </ol>
        </div>
      </nav>
}
@section Title
{
            <div class="col-lg-8">
                  <h1>Trainees</h1>
             </div>
}